<p id="notice"><%= notice %></p>

<h1>Session Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_attachments.each do |session_attachment| %>
      <tr>
        <td><%= session_attachment.session_id %></td>
        <td><%= session_attachment.image %></td>
        <td><%= link_to 'Show', session_attachment %></td>
        <td><%= link_to 'Edit', edit_session_attachment_path(session_attachment) %></td>
        <td><%= link_to 'Destroy', session_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session Attachment', new_session_attachment_path %>
