- url = @session.persisted? ? photo_session_path(@session) : photo_sessions_path

.panel.panel-default
  .panel-heading
    %h2 Create/Edit Session
    -if @session.errors.any?
      #error_explanation 
      %h2
        ERRORS:
      %ul
        = @session.errors.full_messages.each do |msg|
          %li 
            %h3
              = msg
  .panel-body
    = simple_form_for @session, url: url do |f|
      .form-group{style: 'display:block'}
        = f.label :title
        %br
        = f.text_field :title, class: 'form-control', hint: 'Write a title of your session here'
      .form-group{style: 'display:block'}
        = f.label :description
        %br
        = f.text_field :description, class: 'form-control'

      = f.input :single_point, as: :boolean do
        = f.check_box :single_point, {},"true","false" 
      %br

      - f.object.session_attachments.build
      = f.fields_for :session_attachments do |a|
        - if a.object.persisted?
          %div
            = a.object.image_identifier
            %label
              = a.check_box :_destroy
              usuń
        - else
          = a.file_field :image, :multiple => true, id: 'file', name: "new_attachments[]",
            accept: 'image/png,image/jpeg,image/tiff'
      %br
      
      
      = f.submit nil, class: 'btn btn-primary', id: 'submit'





