#post_content


  %div.currentId{ data: {current_id: current_user.id} }
  %div.sessionId{ data: {session_id: @session.id}}

  #session_info{:style => "text-align: center; display: block  "}
    %h1= @session.title
    %p= @session.description
  - if @session.is_uploaded && !@session_status.finished
    = form_tag session_assessment_photo_sessions_path, :method => :get, :style => "text-align: center; display: block  " do
      = text_field_tag("user_id",current_user.id,{type: "hidden"})
      = text_field_tag("session_id",@session.id,{type: "hidden"})
      -if !@session.session_statuses.where(user_id: current_user.id, session_id: @session.id).exists?
        = submit_tag "Begin assessment", class: "begin_assessment"
      -else
        = submit_tag "Continue assessment", class: "begin_assessment"
  - elsif @session_status.finished
    %p{:style => "text-align: center"} YOU HAVE ALREADY FINISHED MARKING THIS SESSION
  - else
    %p{:style => "text-align: center"} SESSION IS NOT UPLOADED YET.





:javascript
  $(document).ready(()=>{
    var beginAssessment = $(".begin_assessment");

    beginAssessment[0].addEventListener("click",event => {
        var userId = $(".currentId")[0].dataset["currentId"];
        var sessionId = $(".sessionId")[0].dataset["sessionId"];
        

        $.ajax({
          type: "POST",
          url: "/session_statuses",
          data: {user_id : userId, session_id : sessionId},
          success: function(msg){
            console.log( "Data Saved: ");
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log("error");
          }
        });
      }
    )
  })

