.bg-modal
  #close +
  #imageContainerModal{:style => "position:relative;text-align: center; display: inline-block"}
    = image_tag @session_attachments[0].image.url, id: "imgContentBig"


#post_content

  = stylesheet_link_tag "farbtastic"
  = javascript_include_tag "farbtastic"

  .slider{:style => "text-align: center; margin-bottom: 30px"}
    #imageContainer{:style => "position: relative; text-align: center; display: inline-block"}
      = image_tag @session_attachments[0].image.url, id: "imgContent", style: "width:800px"
  
  #buttons{:style => "text-align: center; margin-bottom:50px"}
    = button_tag "<", class: 'prev btn btn-primary btn-lg'
    = button_tag ">", class: 'next btn btn-primary btn-lg'  
  #buttonsHolder
    #checkboxes{:style => "text-align: center; display: block ; margin-bottom:10px"}

    #colorpickerholder{:style => "margin-bottom: 10px"}
      %div#colorpicker{:style => "margin: auto"}
    #pickerHide{:style => "text-align: center; margin-bottom: 10px"}
      = button_tag "Hide picker", id: 'hidePicker', class: 'btn btn-primary btn-lg'
      = button_tag "Next unmarked ", id: 'unmarked', class: 'btn btn-primary btn-lg'
    #finishsession{:style => "text-align: center; display: block; margin-bottom: 10px "}
      = button_tag "Finish Session",class: "finish btn btn-primary btn-lg"
      = button_tag "Full View", class: 'openModal btn btn-primary btn-lg'
      = button_tag "Hide Points", class: 'isHidden btn btn-primary btn-lg'

  - @session_attachments.each do |s|
    = content_tag :div,"", class: "attachment", data: {s_points: s.points,id: s.id}
  %div.currentId{ data: {current_id: current_user.id} }
  = content_tag :div,"", class: "attachment2", data: {s_checkboxes: @session.checkboxs}

  = content_tag :div,"", class: "temp_information", data: {session_attachments: @session_attachments}

  = content_tag :div, "", class: "is_session_single_point", data: {single_point: @session.single_point}

  %div.temp_information2{data: {session_id: @session.id}}


:javascript
  Assessment.run()