.bg-modal
  #close +
  #imageContainerModal{:style => "position:relative;text-align: center; display: inline-block"}
    = image_tag @session_attachments[0].image.url, id: "imgContentBig"



#post_content
  #description{:style => "margin-bottom: 20px"}
    %h1{:style => "text-align:center; margin-bottom: 40px; font-size: 50px"}= @session.title

    %h3{:style => "text-align:center; margin-bottom: 60px"}= @session.description

    #token{:style => "text-align:center"}
      %h2  Token
      %h3= @session.token


  #links{:style => "text-align: center; margin-bottom:40px"}
    -if !@session.is_uploaded
      = link_to "Edit", edit_photo_session_path(@session), class: "btn btn-success btn-lg"
    = link_to "Delete", photo_session_path(@session), method: :delete, data: {confirm: "Are you sure you want to destroy your session?"}, class: "btn btn-danger btn-lg"
    = link_to "Home", root_path, class: "btn btn-primary btn-lg"

  .slider{:style => "text-align: center; padding: 20px;"}    
    #imageContainer{:style => "position: relative; text-align: center; display: inline-block"}
      = image_tag @session_attachments[0].image.url, id: "imgContent", style: "width:800px"
  #buttons{:style => "text-align: center;margin-bottom: 50px"}
    = button_tag "<", class: 'prev btn btn-primary btn-lg'
    = button_tag ">", class: 'next btn btn-primary btn-lg'

  #buttonsHolder
    -if !@session.is_uploaded && !@session.single_point
      #deletepoints{:style => "text-align:center;margin-bottom: 10px"}
        = button_tag "Delete Points", class: 'deleteSelectedPoint btn btn-primary btn-lg'  
    #checkboxes{:style => "text-align: center; display: block  "}



    -if !@session.is_uploaded
      #addcheckbox{:style => "text-align: center;margin-bottom: 10px"}
        %input{:type => "text", :class => "checkboxText"}
        = button_tag "Add New Checkbox", class: 'addCheckbox btn btn-primary btn-lg'
        = button_tag "Delete Selected Checkbox", class: 'deleteSelected btn btn-primary btn-lg'

    #uploadSession{:style => "text-align:center;margin-bottom: 40px"}
      -if !@session.is_uploaded
        = button_tag "Upload Session", class: 'uploadSession btn btn-primary btn-lg'
      = button_tag "Full View", class: 'openModal btn btn-primary btn-lg'
      = button_tag "Hide Points", class: 'hidePoints btn btn-primary btn-lg'



  - @session_statuses.each do |s|
    - if s.finished && s.user
      #session{:style => "text-align: center"}
        %div
          %h4
            #{s.user.name} #{s.user.surname}: session finished
            = link_to "Generate TXT", generate_txt_photo_sessions_path(session_id: @session.id, user_id: s.user_id)
        

  - @session_attachments.each do |s|
    = content_tag :div,"", class: "attachment", data: {s_points: s.points,id: s.id } 
  %div.currentId{ data: {current_id: current_user.id} }
    
  //= content_tag :div, "", class: "attachment2", data: {attachment2: {s_checkboxes: @session.checkboxs}}
  = content_tag :div, "", class: "attachment2", data: {s_checkboxes: @session.checkboxs}
  = content_tag :div, "", class: "temp_information", data: {session_attachments: @session_attachments}
  = content_tag :div, "", class: "temp_information2", data: {session_id: @session.id}
  = content_tag :div, "", class: "is_session_uploaded", data: {is_uploaded: @session.is_uploaded}
  = content_tag :div, "", class: "is_session_single_point", data: {single_point: @session.single_point}
  = content_tag :div, "" ,class: "session", data: {session: @t}







:javascript 
  var session = $("[data-session]");
  console.log(session);
  ShowSession.run(#{params[:current_page].try(:to_i) || 0});